<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="hpu_wci" translate="label" sortOrder="401" class="hpu_wci-extensions">
      <label>WooCommerce Importer</label>
    </tab>
    <section id="hpu_wci" translate="label" type="text" sortOrder="8888" showInDefault="1" showInWebsite="0" showInStore="0">
        <label>Configuration</label>
        <tab>hpu_wci</tab>
        <resource>Hprasetyou_WCImporter::configuration</resource>
        <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>General Configuration</label>
            <field id="consumer_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Consumer Key</label>
                <comment>Consumer Key of Your WooCommerce site</comment>
            </field>
            <field id="consumer_secret" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Consumer Secret</label>
                <comment>Consumer Secret of Your WooCommerce site</comment>
            </field>
        </group>
    </section>
  </system>
</config>
